#header .logo{
    font-size: 1.1em !important;
    font-family: 'Ubuntu', sans-serif !important;
    text-transform: none !important;
}

#header .navigation li a {
    padding: 5px 6px !important;
}


@media (max-width: 992px) {

    #header{
        padding: 10px !important;
    }

    #header .logo{
        font-size: 0.9em !important;
    }

    #header .navigation{
        display: block !important;
    }

    #header .navigation.active{
        display: none !important;
    }

    #header .navigation li{
        margin-left: 0;

    }

    #header .navigation li a{
        font-size: 0.85em !important;
    }

    .toggle{
        display: none !important;
    }
}



.parallax1{
    background: url('/img/paint-brush.jpeg');
    min-height: 200%;
    z-index: 100;
}

.parallax1, .parallax2, .parallax3{
    position: relative;
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax4{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.heading{
    position: absolute;
    color: #ffffff;
    font-size: 550%;  /* here problem may come */
    font-weight: 700;
    top: 38%;
    width: 100%;
    letter-spacing: 5px;
    text-shadow: 0px 0px 10px #000000;
    line-height: 77px;
}

.subhead{
    padding: 4px;
    margin: 0;
}

.subhead2{
    font-size: 3em;
    line-height: 53px;
}

.subp{
    padding: 30px 0;
}


.heading-sm{
    position: absolute;
    top: 45%;
    width: 100%;
    color: #fff;
    font-size: 250%;
    letter-spacing: 5px;
    text-shadow: 0px 10px 20px #000000;

    
}


.two-col .parent{
    float: left;
    width: 42%;
    padding: 0 4%;
    text-align: left;
}



section{
    overflow: auto;
    padding: 50px 80px;
}


@media (max-width : 768px){
    .heading{
        /* font-size: 250%; */
        line-height: normal !important;
        
    }
}

.dark{
    overflow: auto;
    padding: 50px 80px;
    background-color: #323232;
    color: #f2f2f2;
}

.dark2{
    overflow: auto;
    padding: 50px 80px;
    background-color: #e65353;
    color: #f2f2f2;
}

.padding-low{
    padding: 50px 0px !important;
}

.slider-container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    position: relative;
    background: #fff;
    width: 370px;
    height: 500px;
    margin: 0 auto;
}

.card .content{
    width: 370px;
    padding: 30px;
    box-sizing: border-box;
}

.card .content ul{
    text-align: justify;
    display: inline-block;
}

.card .content li{
    color: black;
}

.card .content label{
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    margin: 10px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #262626;
    color: #262626;
    font-weight: 600;
    cursor: pointer;
}

.card .content span input{
    height: 2em;
    width: 100%;
}

.card .sliderText{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    flex-direction: column;
}

.card .sliderText h3{
    color: #fff;
    font-size: 2.5em;
    line-height: 42px;
}

.swiper-slide{
    width: 400px !important;
}

.swiper-slide:nth-child(1) .sliderText{
    background: #2196f3 ;
}
.swiper-slide:nth-child(2) .sliderText{
    background: #e91e63 ;
}
.swiper-slide:nth-child(3) .sliderText{
    background: #c3d41a ;
}
.swiper-slide:nth-child(4) .sliderText{
    background: #ff9800 ;
}
.swiper-slide:nth-child(5) .sliderText{
    background: #c33ada ;
}

.two-col-link{
    text-align: center;
    background-color: blue;
    display: block;
    min-width: 15%;
    padding: 10px 12px;
    border-radius: 24px;
    transition: 650ms;
    color: aliceblue;
    font-size: 150%;
    margin-top: 20px;
}

.fir-color:hover{
    background-color: #f0b970;
    font-weight: 900;
    cursor: pointer;
}

.fir-color {
    background-color: rgb(244, 126, 0); 
    color: black;
}

.sec-color:hover {
    background-color: cornflowerblue;
    cursor: pointer;
}

.parent{
    display: flex;
    justify-content: center;
}

.login-email{
    display: inline;
}

.btn{
    margin-top: 2%;
    height: 3em;
    width: 7em;
    border-radius: 30px;
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    font-weight: 400;
    cursor: pointer;
    font-size: 1.1rem;
    border: none;
}

.for-animation{
    position: absolute;
    color: #ffffff;
    font-size: 550%;  /* here problem may come */
    font-weight: 700;
    top: 30%;
    width: 100%;
    letter-spacing: 5px;
    text-shadow: 0px 0px 10px #000000;
    height: 30px;
    width: 100%;
}

.scroll{
    animation: animatesection 4s linear 1 !important;
}

@keyframes animatesection {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
       opacity: 0.2;
    }
    30%{
       opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }

    50%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.6;
    }

    70%{
        opacity: 0.7;
    }

    80%{
        opacity: 0.8;
    }

    90%{
        opacity: 0.9;
    }

    100%{
        opacity: 1;
    }
}


@media (max-width: 992px) {
    .parallax1{
        min-height: 100% !important;
    }

    #main-parallax{
        display: none !important;
    }

    .subp{
        font-size: 120% !important;
    }

    section{
        padding: 10% 15% !important;
    }
}